<div>

    <mat-tab-group dynamicHeight class="mh-100 mw-100">
        <mat-tab label="Projets Epitech">

        </mat-tab>
        <mat-tab label="Stages">
            <div class="row" style="padding: 1%;">

                <div class="col-4">
                    <div class="row">Web Developer</div>
                    <div class="row">Syselio Monaco</div>
                </div>
                <div class="col-4">
                    <div class="row">August - November</div>
                    <div class="row">2017</div>
                </div>
            </div>
            <div class="row" style="padding: 1%;">
                <div class="col-4">
                    <div class="row">Web developer
                    </div>
                    <div class="row">Oriade by Iraten Solutions</div>
                </div>
                <div class="col-4">
                    <div class="row">April - August
                    </div>
                    <div class="row">2019</div>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>