<ng-container *ngIf="this.loading == false; else elseTemplate">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                ajouter une compétence
            </mat-panel-title>
        </mat-expansion-panel-header>

        <form [formGroup]="profileForm" autocomplete="on">

            <mat-form-field appearance="fill">
                <mat-label>Nom de la compétence</mat-label>
                <input matInput formControlName='nom' required>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>%</mat-label>
                <input matInput formControlName='pourcent' type="number" min="1" max='100' required>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Type ? </mat-label>
                <mat-select matInput formControlName='type' required>
                    <mat-option *ngFor="let type of types" value="{{type}}">{{type}}</mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-raised-button color="primary" [disabled]="!profileForm.valid" (click)='onSubmit()'>Valider</button>
        </form>

    </mat-expansion-panel>
</ng-container>
<br/>
<ng-template #elseTemplate>
    <mat-progress-spinner></mat-progress-spinner>
</ng-template>

<ng-container></ng-container>

<ng-container *ngIf="skills != undefined ; else elseTemplate">
    <div class="row">
        <div class="col-md-10">
            <input class="form-control" style="margin-bottom: 1%" type="text" placeholder="recherchez par email" class="form-control" (input)="Changed($event.target)" />
        </div>
        <div class="col-md-2">
            <select class="custom-select" aria-label="Default select example" (change)="Changedtype($event.target)">
      <option value="nom">Nom</option>
      <option value="pourcent">pourcent</option>
      <option value="type">type</option>
    </select>
        </div>
    </div>

    <div class="table-responsive">

        <table class="table table-lg table-striped table-dark">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Nom</th>
                    <th scope="col">pourcent</th>
                    <th scope="col">type</th>
                    <th scope="col"></th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let skill of skills | filterBy: [type]:searchText | orderBy: [type]">
                    <th scope="row"></th>
                    <th class="card-text">{{ skill.nom }}</th>
                    <th class="card-text d-flex justify-content-between"> <input class='col-5' value="{{ skill?.pourcent }}" id='pourcent{{skill?._id}}'> <button class='col-5' (click)='modif(skill?._id)'>upd</button></th>
                    <th class="card-text">{{ skill.type }}</th>
                    <th class="card-text"><button mat-raised-button color="warn" (click)='delete(skill._id)'>supprimer</button></th>
                </tr>
            </tbody>
        </table>
    </div>
</ng-container>
<ng-template #elseTemplate>
    pas de skills ajoutés
</ng-template>