placeholder {
    color: gray;
}

// .col .card p,
// .col .card h5,
// .col .card-header {
//     color: white;
// }
.card {
    border-color: transparent;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.mat-icon {
    width: 48px;
    height: 48px;
    font-size: 48px;
}