<ng-container *ngIf="this.currentUser?.roles == 'admin'; else elseTemplate" class="text-center align-middle">
    <h3 class="text-center" style="padding: 1%;"> Fonctionnalitées admin :</h3>
    <div class="d-flex justify-content-evenly align-items-end" style="padding: 1%;">

        <div class="card mb-2">
            <button class="btn btn-dark btn-lg" (click)="goto('info')">
          <mat-icon class="card-img-top">list</mat-icon>
          <h2 class="card-title">Mes 
            </h2>
            <h2 class="card-title">informations</h2>

        </button>
        </div>
        <div class="card mb-2">

            <button class="btn btn-dark btn-lg" (click)="goto('manage-competences')">
          <mat-icon class="card-img-top">list</mat-icon>
          <h2 class="card-title">Liste
            </h2>
            <h2 class="card-title">des Compétences</h2>

        </button>
        </div>
        <div class="card mb-2">
            <button class="btn btn-dark btn-lg" (click)="goto('manage-experience')">
        <mat-icon class="card-img-top">supervised_user_circle</mat-icon>
        <h2 class="card-title">Liste </h2>
          <h2 class="card-title">des Expériences</h2>
      </button>
        </div>

        <div class="card mb-2">
            <button class="btn btn-dark btn-lg" (click)="goto('')">
        <mat-icon class="card-img-top">supervised_user_circle</mat-icon>
        <h2 class="card-title">Mes </h2>
          <h2 class="card-title">Mails</h2>
      </button>
        </div>

    </div>


</ng-container>

<ng-template #elseTemplate>
    <h3>Vous n'avez pas les droits pour acceder a cette page</h3>
</ng-template>