<ng-container *ngIf="currentUser">

    <button mat-icon-button aria-label="logout" (click)="logout()">
    <mat-icon style="color:red">power_settings_new</mat-icon>
</button>
    <button mat-icon-button routerLink='/menu'>
    <mat-icon style="color:blue">menu</mat-icon>
</button>

</ng-container>
<app-pages></app-pages>
<alert style="padding: 1%;"></alert>