<h2> Modifier sont mots de passe :</h2>
<form [formGroup]="profileForm" (ngSubmit)="changepass(userOldPassword.value, userPassword.value, userConfirmPassword.value);" autocomplete="on">

    <div class="displayTableCell">

        <div class="authBlock">

            <div class="formGroup">
                <input type="password" class="formControl" formControlName="opassword" placeholder="Ancien mots de passe" #userOldPassword>
            </div>

            <div class="formGroup">
                <input type="password" class="formControl" formControlName="password" placeholder="Nouveau mots de passe" #userPassword>
            </div>

            <div class="formGroup">
                <input type="password" class="formControl" formControlName="cpassword" placeholder="Confirmation mots de passe" #userConfirmPassword>
            </div>

            <div class="formGroup">
                <button class="btn btn-primary" type="submit" [disabled]="!profileForm.valid">
                    Valider
                </button>
            </div>
        </div>
    </div>
</form>