<div class="center displayTable">
    <form [formGroup]="profileForm" (ngSubmit)="onLogin(email.value, userPassword.value);" autocomplete="on">
        <h2>Se connecter</h2>
        <div class="displayTableCell">a

            <div class="authBlock">

                <div class="formGroup">
                    <input type="email" class="formControl" formControlName="email" placeholder="Email" #email>
                </div>

                <div class="formGroup">
                    <input type="password" class="formControl" formControlName="password" placeholder="Mots de passe" #userPassword>
                </div>


                <div class="formGroup">
                    <button class="btn btn-primary" type="submit" [disabled]="!profileForm.valid">
                        Valider
                    </button>
                </div>
            </div>
        </div>
    </form>

    <div class="displayTableCell">

        <!-- <div class="formGroup">
                <span class="or"><span class="orInner">Ou</span></span>
            </div> -->


    </div>

    <div class="redirectToLogin">
        <span>Vous n'avez pas de compte?<a class="redirect" routerLink="/auth/signup"> S'enregistrer</a></span>
    </div>
    <div class="redirectToLogin">
        <a class="redirect" routerLink="/auth/forgetpassword"> Mots de passe perdu ?</a>
    </div>
</div>