<div class="container">
    <ng-container *ngIf="this.currentUser?.roles == 'admin'">
        <ng-container *ngIf="this.infouser?.firstName; else elseTemplateuser">
            <app-modify></app-modify>
        </ng-container>
        <ng-template #elseTemplateuser>
            <app-add-info></app-add-info>
        </ng-template>

        <div class="d-flex justify-content-between" style="padding-top: 3%;">
            <button type="button" class="btn btn-warning" style="color: white;" routerLink="/modifpassword">Changer son mots de passe</button>
        </div>
    </ng-container>

</div>