<H2> List des compétences :</H2>

<div class="d-flex justify-content-around">

    <!-- <ng-container *ngFor="let typ of types">
        <div class="col-5" style="margin: 1%;">
            <h3>{{typ}} :</h3>
            <ng-container *ngFor="let skill of skills | orderBy: [this.type] | reverse">
                <ng-container *ngIf="this.skill.type == typ" style="margin: 1%;">
                    {{skill.nom}}
                    <mat-progress-bar mode="determinate" value="{{skill.pourcent}}"></mat-progress-bar>
                </ng-container>
            </ng-container>
        </div>
    </ng-container> -->


    <div class="col-5">
        <div style="margin: 2%;">
            <span>
             Coding language :
        </span>
            <br/>
            <ng-container *ngFor="let skill of skills | orderBy: [this.type] | reverse">
                <ng-container *ngIf="this.skill.type == 'coding language'">
                    {{skill.nom}}
                    <mat-progress-bar mode="determinate" value="{{skill.pourcent}}"></mat-progress-bar>
                </ng-container>
            </ng-container>
        </div>
        <div style="margin: 1%;">
            <h4> Framework :</h4>
            <ng-container *ngFor="let skill of skills | orderBy: [this.type] | reverse">
                <ng-container *ngIf="this.skill.type == 'framework'">
                    {{skill.nom}}
                    <mat-progress-bar mode="determinate" value="{{skill.pourcent}}"></mat-progress-bar>
                </ng-container>
            </ng-container>
        </div>
        <div>
            <h3> Database :</h3>
            <ng-container *ngFor="let skill of skills | orderBy: [this.type] | reverse">
                <ng-container *ngIf="this.skill.type == 'database'">
                    {{skill.nom}}
                    <mat-progress-bar mode="determinate" value="{{skill.pourcent}}"></mat-progress-bar>
                </ng-container>
            </ng-container>
        </div>
    </div>

    <div class="col-5" style="margin: 1%;">
        <div>
            <h3> Operating system :</h3>
            <ng-container *ngFor="let skill of skills | orderBy: [this.type] | reverse">
                <ng-container *ngIf="this.skill.type == 'operating system'">
                    {{skill.nom}}
                    <mat-progress-bar mode="determinate" value="{{skill.pourcent}}"></mat-progress-bar>
                </ng-container>
            </ng-container>
        </div>
        <div>
            <h3> Code editor :</h3>
            <ng-container *ngFor="let skill of skills | orderBy: [this.type] | reverse">
                <ng-container *ngIf="this.skill.type == 'code editor'">
                    {{skill.nom}}
                    <mat-progress-bar mode="determinate" value="{{skill.pourcent}}"></mat-progress-bar>
                </ng-container>
            </ng-container>
        </div>
        <div>
            <h3> Git :</h3>
            <ng-container *ngFor="let skill of skills | orderBy: [this.type] | reverse">
                <ng-container *ngIf="this.skill.type == 'git'">
                    {{skill.nom}}
                    <mat-progress-bar mode="determinate" value="{{skill.pourcent}}"></mat-progress-bar>
                </ng-container>
            </ng-container>
        </div>
        <div>
            <h3> Container :</h3>
            <ng-container *ngFor="let skill of skills | orderBy: [this.type] | reverse">
                <ng-container *ngIf="this.skill.type == 'container'">
                    {{skill.nom}}
                    <mat-progress-bar mode="determinate" value="{{skill.pourcent}}"></mat-progress-bar>
                </ng-container>
            </ng-container>
        </div>
    </div>



</div>

<div class="d-flex  justify-content-center" style="margin: 1%;">
    <div>
        <h3> Soft skills :</h3>
        <ng-container *ngFor="let skill of skills | orderBy: [this.type] | reverse">
            <ng-container *ngIf="this.skill.type == 'soft skills'">
                {{skill.nom}}
                <mat-progress-bar mode="determinate" value="{{skill.pourcent}}"></mat-progress-bar>
            </ng-container>
        </ng-container>
    </div>
</div>