<div class="displayTable">
    <form [formGroup]="profileForm" (ngSubmit)="onSignup(email.value, userPassword.value, confirmPassword.value);" autocomplete="on">
        <h2>Crée un compte</h2>
        <div class="displayTableCell">

            <div class="authBlock">

                <div class="formGroup">
                    <input type="email" class="formControl" formControlName="email" placeholder="email" #email>
                </div>
                <div></div>

                <div class="formGroup">
                    <input type="password" class="formControl" formControlName="password" placeholder="Mots de passe" #userPassword>
                </div>
                <div></div>

                <div class="formGroup">
                    <input type="password" class="formControl" formControlName="cpassword" placeholder="Confirmation du Mots de passe" #confirmPassword>
                </div>

                <div></div>

                <div class="formGroup">
                    <button class="btn btn-primary" type="submit" [disabled]="!profileForm.valid">
                        Valider
                    </button>
                </div>
            </div>
        </div>
    </form>

    <div class="redirectToLogin ">
        <span>Vous avez déjà un compte ? <a class="redirect " routerLink="/auth/login">Se connecter</a></span>
    </div>
</div>