<ng-container *ngIf="this.loading == false; else elseTemplate">
    <button mat-raised-button color="primary" routerLink='/add-experience'> add experience</button>
</ng-container>
<br/>
<ng-template #elseTemplate>
    <mat-progress-spinner></mat-progress-spinner>
</ng-template>

<ng-container></ng-container>

<ng-container *ngIf="exps != undefined ; else elseTemplate">
    <div class="row">
        <div class="col-md-10">
            <input class="form-control" style="margin-bottom: 1%" type="text" placeholder="recherchez par email" class="form-control" (input)="Changed($event.target)" />
        </div>
        <div class="col-md-2">
            <select class="custom-select" aria-label="Default select example" (change)="Changedtype($event.target)">
      <option value="entreprise">Entreprise</option>
      <option value="start">date</option>
      <option value="type">type</option>
    </select>
        </div>
    </div>

    <div class="table-responsive">

        <table class="table table-lg table-striped table-dark">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Entreprise</th>
                    <th scope="col">date</th>
                    <th scope="col">type</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let exp of exps | filterBy: [type]:searchText | orderBy: [type]">
                    <th scope="row"></th>
                    <th class="card-text">{{ exp.entreprise }}</th>
                    <th class="card-text">{{ exp.start | date: 'dd/MM/yyyy' }} to {{ exp.end | date: 'dd/MM/yyyy' }}</th>
                    <th class="card-text">{{ exp.type }}</th>
                    <th class="card-text"><button mat-raised-button color="info" routerLink='/modif-experience/{{exp._id}}'>Modif</button></th>
                    <th class="card-text"><button mat-raised-button color="warn" (click)='delete(exp._id)'>supprimer</button></th>
                </tr>
            </tbody>
        </table>
    </div>
</ng-container>
<ng-template #elseTemplate>
    pas de skills ajoutés
</ng-template>