<div class="sidenav d-flex  justify-content-between bd-highlight">
    <!-- <img class="img-responsive" [src]="src/assets/caplogo.png"> -->
    <div>

        <button class="redirect btn btn-outline-warning btn-lg" style="width: 100%; margin-bottom: 5%;" routerLinkActive="active" routerLink='/profile'> Profil</button>
        <!-- <button class="redirect btn btn-outline-warning btn-lg" style="width: 100%; margin-bottom: 5%;" routerLinkActive="active" routerLink='/cursus'> Cursus</button> -->
        <button class="redirect btn btn-outline-warning btn-lg " style="width: 100%; margin-bottom: 5%;" routerLinkActive="active" routerLink='/skills'> Compétences</button>
        <button class="redirect btn btn-outline-warning btn-lg" style="width: 100%; margin-bottom: 5%;" routerLinkActive="active" routerLink='/experiences'> Expériences</button>
        <button class="redirect btn btn-outline-warning btn-lg" style="width: 100%;" routerLinkActive="active" routerLink='/contact'> Contact</button>

    </div>
</div>