.card {
    background-color: transparent;
    /* max-height: 70vh; */
    border: transparent;
}

img {
    max-height: 55vh;
}

.material-icons {
    padding-right: 1%;
}

.row .col {
    /* padding-left: 5%; */
    align-items: center;
    text-align: center;
}

hr {
    max-width: 25%;
    background-color: #b68973;
}

h1 {
    text-shadow: 2px 2px 3px #b689733f;
}

h3 {
    text-shadow: 2px 2px 3px #b689733f;
}