<div class="d-flex justify-content-evenly align-items-center">
    <div class="col-3 align-self-center">
        <img class="img-fluid rounded" src="../../../assets/IMG_4732.JPG" alt="">
    </div>

    <div class="col-8 align-self-center" style="text-align: center; align-items: center;">


        <h1 class="card-title">{{this.profile?._doc?.firstName}} {{this.profile?._doc?.lastName}}</h1>
        <hr>
        <div class="d-flex justify-content-evenly align-items-center">
            <div class="col-6 ">
                <h3>
                    <span class="material-icons">
    cake
        </span> {{this.profile?._doc?.year}} ans
                </h3>
                <h3>
                    <span class="material-icons">
                    place
                    </span> {{this.profile?._doc?.ville}}, {{this.profile?._doc?.pays}}
                </h3>

                <h3>
                    <span class="material-icons">
                school
                </span> {{this.profile?._doc?.school}}
                </h3>
            </div>
            <div class="col-6">


                <h3>

                    <span class="material-icons">
                        local_phone
                        </span> {{this.profile?._doc?.phone}}
                </h3>

                <h3><span class="material-icons">
                    email
                    </span> {{this.profile?._doc?.email}}
                </h3>
                <h3>
                    <span class="material-icons">
                    cases
                    </span> {{this.profile?._doc?.work}}
                </h3>
            </div>
        </div>
        <div class="row description" style="max-height: 50%">
            <span> Description : </span>
            <hr>
            <span class="" style=" white-space: pre-line;">
                {{this.profile?._doc?.description}}
               </span>
        </div>
    </div>
</div>

<!-- <div class="card-body"> -->

<!-- </div> -->