<form [formGroup]="PersonalForm" style="background-color: whitesmoke;">
    <div>
        <mat-form-field appearance="fill" style="width: 30%;">
            <mat-label>Civilité : </mat-label>
            <mat-select matInput formControlName="civilite" required>
                <mat-option value="Madame">Madame</mat-option>
                <mat-option value="Monsieur">Monsieur</mat-option>
            </mat-select>

        </mat-form-field>
        <mat-form-field style="width: 40%">
            <mat-label>Age:</mat-label>
            <input matInput formControlName="year" placeholder="20" required>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field style="width: 40%">
            <mat-label>Nom:</mat-label>
            <input matInput formControlName="firstName" placeholder="Nom" required>
        </mat-form-field>
        <mat-form-field style="width: 40%">
            <mat-label>Prénom:</mat-label>
            <input matInput formControlName="lastName" placeholder="Prénom" required>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field style="width: 40%">
            <mat-label>Telephone portable:</mat-label>
            <input matInput formControlName="phone" placeholder="+33 6..." required>
        </mat-form-field>
        <mat-form-field style="width: 40%">
            <mat-label>address email:</mat-label>
            <input matInput formControlName="email" placeholder="...@.com" required>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field style="width: 40%">
            <mat-label>pays:</mat-label>
            <input matInput formControlName="pays" placeholder="France" required>
        </mat-form-field>
        <mat-form-field style="width: 40%">
            <mat-label>ville:</mat-label>
            <input matInput formControlName="ville" placeholder="Paris" required>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field style="width: 40%">
            <mat-label>diplome:</mat-label>
            <input matInput formControlName="school" placeholder="bac+5" required>
        </mat-form-field>
        <mat-form-field style="width: 40%">
            <mat-label>poste:</mat-label>
            <input matInput formControlName="work" placeholder="développeur" required>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field style="width: 80%">
            <mat-label>description:</mat-label>
            <textarea matInput formControlName="description" required style="height: 10vh;"></textarea>
        </mat-form-field>
    </div>
    <div>
        <h4 style="color: red; text-decoration: underline;">champs obligatoire : *</h4>
    </div>
    <div>
        <button mat-raised-button color="primary" [disabled]="!PersonalForm.valid" (click)='onSubmit()'>Valider</button>
    </div>
</form>