<div class="container" id="container" style="height: 100vh;">
    <div class="row my_border d-flex justify-content-around align-items-center">
        <!-- <div class=" "> -->
        <div class="col-2">
            <app-routes></app-routes>
        </div>
        <div class="col-9">
            <router-outlet></router-outlet>
        </div>
        <!-- </div> -->
    </div>
</div>