.container {
    /* // padding-left: 2.5%;
    // padding-right: 2%;
    // min-height: 100%; */
    /* Fallback for browsers do NOT support vh unit */
    /*  min-height: 90vh;
    min-width: 80vw; */
    /* Fallback for browsers do NOT support vh unit */
    /* min-width: 100vw; */
    /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
}

.my_border {
    opacity: 0.95;
    background-color: #1e212d;
    height: 70%;
    width: 100%;
    border-radius: 1%;
}