<mat-form-field appearance="fill">
    <mat-label>entrez l'interval de date de la formation</mat-label>
    <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
        <input matStartDate formControlName="start" placeholder="date début" #start required>
        <input matEndDate formControlName="end" placeholder="date fin" #end required>
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>

    <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalide date de début</mat-error>
    <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalide date de fin</mat-error>
</mat-form-field>

<form [formGroup]="profileForm" autocomplete="on">

    <mat-form-field appearance="fill">
        <mat-label>Type ? </mat-label>
        <mat-select matInput formControlName='type' required>
            <mat-option *ngFor="let type of types" value="{{type}}">{{type}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Nom de la l'entreprise</mat-label>
        <input matInput formControlName='entreprise' required>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Intitulée du poste</mat-label>
        <input matInput formControlName='poste' required>
    </mat-form-field>

    <mat-form-field style="width: 80%">
        <mat-label>description:</mat-label>
        <textarea matInput formControlName="desciption" required style="height: 10vh;"></textarea>
    </mat-form-field>

    <div formArrayName="env">
        <ng-container *ngFor="let env of env.controls; let i = index">
            <ng-container *ngIf="i == 0; else elseTemplate">
                <div class="row" [formGroupName]="i">
                    <mat-form-field class="col-6">
                        <mat-label>Nom de la techno</mat-label>
                        <mat-select matInput formControlName='techno' required>
                            <mat-option *ngFor="let skill of skills" value="{{skill}}">{{skill}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </ng-container>
            <ng-template #elseTemplate>
                <div class="row" [formGroupName]="i">
                    <mat-form-field class="col-6">
                        <mat-select matInput formControlName='techno' required>
                            <mat-option *ngFor="let skill of skills" value="{{skill}}">{{skill}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <button type="button" class='btn btn-outline-danger col' (click)='deleteenv(i)'>supprimer</button>
                </div>
            </ng-template>

        </ng-container>
        <button mat-mini-fab type="button" (click)="addenv()">
            <mat-icon class="add-course-btn">add</mat-icon>
          </button>
    </div>
    <button mat-raised-button color="primary" [disabled]="!profileForm.valid" (click)='onSubmit()'>Valider</button>
</form>