/* You can add global styles to this file, and also import other style files */


/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */

.global {
    color: #b68973;
    background-color: #1e212d;
}

video#bgvid {
    opacity: 0.20;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background-size: cover;
}


/* Importing Bootstrap SCSS file. */

@import '~bootstrap/scss/bootstrap';
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

@media screen and (min-width: 1600px) {
    h1,
    h3,
    span,
    .btn {
        zoom: 1.5;
    }
}

@media screen and (min-width: 1240px) and (max-width: 1600px) {
    h1,
    h3,
    span,
    button {
        zoom: 1.1;
    }
}

@media screen and (max-width: 900px) {
    h1,
    h3,
    span,
    button {
        zoom: 0.6;
    }
}